# SPDX-FileCopyrightText: 2023 Deutsche Telekom AG
#
# SPDX-License-Identifier: CC0-1.0

.DS_Store
.vagrant/
.buildpath
.project
.idea
.env

servroot*

# kong
nginx_tmp/
kong*.yml

# luacov
luacov.*
/doc

# autodoc
autodoc/output

# ldoc
spec/docs

kong-build-tools
bin/grpcurl

*.so
*.bak
